.detail-container{
    display: inline-block;
  position: relative;
    justify-content: center;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(250, 248, 248);
    max-width: 250px;
    background-color:rgba(8, 8, 250, 0.274);
    margin:5px;
    backdrop-filter: blur(10px);
    border-radius:8%;
    border:solid 1px rgba(255, 255, 255, 0.911),

}

.detail-title{
    min-height: 90px;
    font-size: 25px;
    font-family: "Noto Serif Display", serif;
  font-family: "Rowdies", cursive;
}

.detail-temp{
    min-height: 90px;
    font-size: 15px;
}

.detail-return {
  height: 100px;
  width: 100px;
  display: flex;
  border: solid;
  border-radius: 100%;
}

.detail-return:hover {
  cursor: pointer;
}

.home-container {
  display: flex;
}