.container-home{
    display:flex;
    flex-direction:column;
    min-width:1250px;
    max-width: 1350px;
    margin:1em;
    
}

.body-home{
    display: flex;
    
}

.filter-home{
    background-color:rgba(84, 84, 250, 0.75);
    border-radius:10%;
    color:antiquewhite;
    padding:15px;
    max-height: 300px;
    align-items:center;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    margin-top:35px;
    border: solid;
}

.cards-home{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;

}

.link-home{
    text-decoration: none;
}